body{
  font-family: Arial, sans-serif;
  background:#f2f4f8;
  margin:0;
}

.container{
  max-width:800px;
  margin:auto;
  background:white;
  padding:20px;
}

h1{
  text-align:center;
  color:#2c3e50;
}

.motivasi{
  text-align:center;
  color:green;
  font-weight:bold;
  margin-bottom:20px;
}

.soal{
  margin-bottom:20px;
  padding:15px;
  border:1px solid #ddd;
  border-radius:8px;
}

button{
  width:100%;
  padding:12px;
  background:#2e86de;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#1b4f72;
}

#hasil{
  margin-top:20px;
  font-size:18px;
  font-weight:bold;
  text-align:center;
}
